[submodule "src/navigation2"]
	path = src/navigation2
	url = https://github.com/YakiFrog/navigation2.git
[submodule "src/kobuki_core"]
	path = src/kobuki_core
	url = https://github.com/YakiFrog/kobuki_core.git
[submodule "src/kobuki_ros"]
	path = src/kobuki_ros
	url = https://github.com/YakiFrog/kobuki_ros.git
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/YakiFrog/slam_toolbox.git
[submodule "src/velodyne"]
	path = src/velodyne
	url = https://github.com/YakiFrog/velodyne.git
[submodule "src/my_rviz_plugin"]
	path = src/my_rviz_plugin
	url = https://github.com/YakiFrog/my_rviz_plugin.git
[submodule "src/spatio_temporal_voxel_layer"]
	path = src/spatio_temporal_voxel_layer
	url = https://github.com/SteveMacenski/spatio_temporal_voxel_layer.git
[submodule "src/urg_node2"]
	path = src/urg_node2
	url = https://github.com/YakiFrog/urg_node2.git